.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
}
.ball.yellow {
  background: radial-gradient(circle at 70% 130%,  #825232, #faba0a 80%, #ffffff 95%);
}
.ball.green {
  background: radial-gradient(circle at 70% 130%,  #82c232, #5aca0a 80%, #ffffff 95%);
}
.ball.cyan {
  background: radial-gradient(circle at 70% 130%,  #82c2f2, #5acafa 80%, #ffffff 95%);
}
.ball.blue {
  background: radial-gradient(circle at 70% 130%,  #12c2f2, #2acafa 80%, #ffffff 95%);
}
.ball.purple {
  background: radial-gradient(circle at 70% 130%,  #a252f2, #aa5afa 80%, #ffffff 95%);
}
.ball.pink {
  background: radial-gradient(circle at 70% 130%,  #f252e2, #fa5ada 80%, #ffffff 95%);
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-10px) translateY(-10px) skewX(-20deg);
  -moz-transform: translateX(-10px) translateY(-10px) skewX(-20deg);
  -ms-transform: translateX(-10px) translateY(-10px) skewX(-20deg);
  -o-transform: translateX(-10px) translateY(-10px) skewX(-20deg);
  transform: translateX(-10px) translateY(-10px) skewX(-20deg);
  -webkit-filter: blur(10px);
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
z-index: -1;
}

@media only screen and (min-width: 769px) {
  .stage {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 20px;
    position: relative;
  }

  .number {
    position: absolute;
    z-index: 10;
    font-size: 32px;
    font-weight: 700;
    left: 17px;
    top: 7px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

@media only screen and (max-width: 768px) {
  .stage {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 6px;
    position: relative;
  }

  .number {
    position: absolute;
    z-index: 10;
    font-size: 10px;
    font-weight: 700;
    left: 8px;
    top: 4px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

@media only screen and (min-width: 769px) {
  .user_number {
    font-size: 32px;
    font-weight: 900;
    padding: 0 33px;
    position: relative;
  }

  .only_one_number {
    font-size: 32px;
    font-weight: 900;
    padding: 0 34px;
    position: relative;
  }

  .matched {
    color: #330066;
  }

  .unmatched {
    color: #aaaaaa;
  }

  .check-mark {
    position: absolute;
    top: -30px;
    left: 35px;
    color: #00ff00;
    font-size: 16px;
  }

  .wrong-mark {
    position: absolute;
    top: -30px;
    left: 35px;
    color: #ff0000;
    font-size: 16px;
  }

  .correct-numbers-container {
    border: 3px solid red;
    border-radius: 20px;
    padding-top: 10px;
  }

  .wrong-number-container {
    border: 3px solid #aaaaaa;
    border-radius: 20px;
    padding-top: 10px;
  }

  .all-number-container {
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .index {
    font-weight: 900;
    color: purple;
    font-size: 24px;
    padding:  0 20px;
    padding-bottom: 30px;
  }

  .user-number-row {
    display: flex;
    align-items: center;
  }

  #win_number_container {
    padding-left: 55px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .user_number {
    font-size: 14px;
    font-weight: 900;
    padding: 0 10px;
    position: relative;
  }

  .matched {
    color: #330066;
  }

  .unmatched {
    color: #aaaaaa;
  }

  .check-mark {
    position: absolute;
    top: -25px;
    left: 10px;
    color: #00ff00;
    font-size: 10px;
  }

  .wrong-mark {
    position: absolute;
    top: -25px;
    left: 10px;
    color: #ff0000;
    font-size: 10px;
  }

  .correct-numbers-container {
    border: 3px solid red;
    border-radius: 20px;
  }

  .wrong-number-container {
    border: 3px solid #aaaaaa;
    border-radius: 20px;
  }

  .all-number-container {
    width: fit-content;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .index {
    font-weight: 900;
    color: purple;
    font-size: 20px;
    padding:  0 20px;
    padding-bottom: 30px;
  }

  .user-number-row {
    display: flex;
    align-items: center;
  }

  #win_number_container {
    padding-left: 65px;
    margin-bottom: 30px;
  }
}